
body{
     background-image: url("apalah.jpg");
     background-repeat:no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size :cover;
   }  
   h1{
     background:linear-gradient(lightgrey ,gold);
     background-repeat:no-repeat;
     background-attachment: fixed;
     text-align:center;
     width:fit-content ;
     margin:auto;
     padding:5px 30px;
     border-radius: 5px;
   }
p{
     background:linear-gradient(black, black);
     background-repeat:no-repeat;
     background-attachment: fixed;
   }
   
   
   .obb{
     color:grey;
   }
   .data{
     color:grey;
   }
   #reas{
     border: 5px solid;
     border-radius: 5px;
     width: min(450px, calc(100% - 20px));
     height: 150px;
     box-sizing: border-box;
     font-size:15px;
     border-right:15px;
     font-family:Arial,sans-serif;
     font-size: 15px;
     padding:5px 30px ;
     padding-bottom: 5px;
     margin:2px;
     /*tes*/
     background:linear-gradient(grey, pink );
   }
    .kanan{
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: center;
  }

  .kanan img {
  border-radius: 8px;
  display: block;
  }

  .kanan audio {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 220px;
  }
